### a) Specifying the Data Analysis Question

What is your research question? What problem is it that you are trying to solve?

The task is to predict whether a potential promotee at a
checkpoint will be promoted or not after the evaluation process.

### b) Defining the Metric for Success

What will convince you that your project has succeeded?

a model with high levels of accuracy in predicting promoted employees for management, atleast 50% accuracy

### c) Understanding the context 

The background information surrounding the problem or research question.

The data is collected from HR department and is regarding training and KPI performance =, key factors used to identify potential employees for pormotion into management

### d) Recording the Experimental Design

The steps you will take from the beginning to the end of this project.

Data collection, cleaning and understanding, followed by creating a model, training and testing it, reviewing the outcome and challenging the results.

### e) Data Relevance

Is your data relevant to the problem or research question?

Yes, the data provided is relevant, as these are the key factors in determining employees to be promoted early is available

## <font color='#2F4F4F'>2. Data Cleaning & Preparation</font>

In [55]:
#first we load the libraries and undertsand the data

import pandas as pd

In [56]:
glossary= pd.read_csv('https://bit.ly/2Wz3sWcGlossary')
glossary

                 employee_id - Unique ID for employee
0                 department - Department of employee
1           region - Region of employment (unordered)
2                         education - Education Level
3                         gender - Gender of Employee
4   recruitment_channel - Channel of recruitment f...
5   nooftrainings - no of other trainings complete...
6                               age - Age of Employee
7   previousyearrating - Employee Rating for the p...
8        lengthofservice - Length of service in years
9   KPIs_met >80% - if Percent of KPIs(Key perform...
10  awards_won? - if awards won during previous ye...
11  avgtrainingscore - Average score in current tr...
12     is_promoted (Target) Recommended for promotion

In [57]:
df = pd.read_csv('https://bit.ly/2ODZvLCHRDataset')
df.sample(10)

       employee_id         department  ... avg_training_score is_promoted
22586        29725  Sales & Marketing  ...                 53           1
34985        66708          Analytics  ...                 83           0
52275          241         Operations  ...                 57           0
33116        12542                 HR  ...                 49           0
42997        72901        Procurement  ...                 71           0
27890        12660         Operations  ...                 63           0
36234        29470         Operations  ...                 61           0
36957        33072        Procurement  ...                 70           1
40476        52012         Operations  ...                 53           0
47579        34426  Sales & Marketing  ...                 49           0

[10 rows x 14 columns]

In [58]:
#preview the dataset shape
df.shape

(54808, 14)

In [59]:
#look for duplicates
sum(df.duplicated())

0

In [60]:
#look for missing values
df.isnull().sum()
#we will replace all NaN with 0  to enable encoding of columns with text values later

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [61]:
df.fillna(0, inplace = True)
df.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [62]:
#preview datatypes
df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [91]:
#we must convert the object columns to strings or integers to enable encoding
df['department'] = df['department'].astype(int)
df['region'] = df['region'].astype(int)
df['education'] = df['education'].astype(str)
df['gender'] = df['gender'].astype(str)
df['recruitment_channel'] = df['recruitment_channel'].astype(str)
df.dtypes

employee_id               int64
department                int64
region                    int64
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [92]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column_name in df.columns:
  if df[column_name].dtype == 'object':
     df[column_name] = le.fit_transform(df[column_name])
  else:
    pass

# we were able to encode all the previous object columns to enable prediction by the model iddentified

## <font color='#2F4F4F'>3. Modelling</font>

In [94]:
#Step 1 is to split the data into training and testing data sets

from sklearn.model_selection import train_test_split

df_train, df_valid = train_test_split(df, test_size=0.25, random_state=12345)

features_train =df_train.drop(['is_promoted'], axis=1)
target_train = df_train['is_promoted']
features_valid = df_valid.drop(['is_promoted'], axis=1)
target_valid = df_valid['is_promoted']

print(features_train.shape)
print(target_train.shape)
print(features_valid.shape)
print(target_valid.shape)

(41106, 13)
(41106,)
(13702, 13)
(13702,)

In [95]:
features_train.head(6)

       employee_id  department  ...  awards_won?  avg_training_score
50047        50236           1  ...            0                  61
37107        28040           7  ...            0                  50
53963        30383           7  ...            0                  49
54792          994           7  ...            0                  65
28163         1297           8  ...            0                  79
16120        46482           0  ...            0                  96

[6 rows x 13 columns]

In [ ]:
#Step 2: Train the model using the training data set(we are using the validating dataset as our testing data)
# we will use accuracy score and the decision tree classifier since this is a classification algorithm 
#i.e promoted or not, to confirm the accuracy of this model

Decision Tree Classifier Model

In [96]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# create the model
model = DecisionTreeClassifier(random_state=12345)
model.fit(features_train, target_train)

#convert features_valid to series to a 1d array for the prediction to work
predicted_valid = pd.Series(model.predict(features_valid))

# compares predicted values vs actual values to determine accuracy of the model
accuracy_valid = accuracy_score(predicted_valid,target_valid)

print(accuracy_valid)

0.8960735659027879

## <font color='#2F4F4F'>4. Summary of Findings</font>

The model used was deicison tree classifier due to the nature of the research question: the aim of the task was predicting a mapping from the input variables e.g education and gender and KPIs for the given observations(test data) , this model proved to be 89% accurate when tested for accuracy using the accuracy_score function from sklearn metrics library.

This means using the above trained model, the HR department is able to predict promotion or not for employees t a checkpoint after evaluation

## <font color='#2F4F4F'>5. Challenging your Solution</font>

### a) Did we have the right data?

yes we did, however we needed data siuch as manager or lower i.e position in the company. the KPI data needed to reflect the 60% pass rate defined in the problem statement document as well

### b) Did we have the right question?

yes, the ability to predict whether an employee would be promoted or not after evaluation was the correct question